/*------------------------------------------------------------------------------
	Base Styles
------------------------------------------------------------------------------*/
a {
	color: #333;
	border-radius: 3px;
	display: block;
	border: solid #cacaca;
	background: #fff;
	text-align: center;
	border-width: 1px;
	line-height: 0px;
	outline: 0;
	text-decoration: none;
}

li {
	list-style: none;
}
/* end */

/*------------------------------------------------------------------------------
	Octocat
------------------------------------------------------------------------------*/
ul.octodex {
	font: 13px helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.4em;
    background-color: #fff;
    color: #333;
    margin: 0px;
    padding: 0px;
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

ul.octodex li.octocat {
	margin: 0 9px 0;
	flex-direction: row;
}

ul.octodex li.octocat a img {
	margin: 10px;
    width: 424px;
    height: 424px;
    max-width: 424px;
    max-height: 424px;
}
/* end */

/*------------------------------------------------------------------------------
	Footer
------------------------------------------------------------------------------*/
div.image-footer {
	font: 16px helvetica,arial,freesans,clean,sans-serif;
	font-weight: bold;
	width: 424px;
	display: inline-flex;
	justify-content: center;
	justify-content: space-between;
	max-width: 424px;
	align-items: center;
}

span.image-number {
	align-self: flex-start;
	color: #cacaca;
	font-weight: bold;
}

ul.octodex li.octocat div.image-footer div.image-caption {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

ul.octodex li.octocat div.image-footer div.image-caption span {
	color: #777;
}

ul.octodex li.octocat div.image-footer div.image-caption a {
	font: 16px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4em;
	font-weight: bold;
	border: none: ;
}

ul.octodex li.octocat div.image-footer div.image-caption a::before {
	content: "";
	margin: 2px;
}

ul.octodex li.octocat div.image-footer div.image-caption a::after {
	content: "";
	margin: 2px;
}

ul.octodex li.octocat div.image-footer div.image-caption ul.authors li a {
	display: flex;
	flex-direction: row;
}

ul.octodex li.octocat div.image-footer div.image-caption ul.authors li a img {
	width: 28px;
	height: 28px;
	margin: 0;
	justify-content: flex-end;
}
/* end */

